@page
@using MomokoBlog.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using MomokoBlog.Web.Pages.Tags.Tag
@using MomokoBlog.Localization
@using MomokoBlog.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MomokoBlogResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Tag"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Tag"].Value);
    PageLayout.Content.MenuItemName = MomokoBlogMenus.Tag;
}

@section scripts
{
    <abp-script src="/Pages/Tags/Tag/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Tags/Tag/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Tag"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(MomokoBlogPermissions.Tag.Create))
                {
                <abp-button id="NewTagButton"
                            text="@L["CreateTag"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="TagCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="TagFilter" id="TagFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="TagCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="TagTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
